<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="mailInfo" class="cn.itheima.shop.email.MailSenderInfo">
		<!-- 发送邮件的服务器的IP -->
		<property name="mailServerHost" value="smtp.qq.com"></property>
		<!-- 发送邮件的服务器的端口 -->
		<property name="mailServerPort" value="25"></property>
		<!-- 邮件发送者的地址 -->
		<property name="fromAddress" value="260895907@qq.com"></property>
		<!-- 登陆邮件发送服务器的用户名和密码 -->
		<property name="userName" value="260895907"></property>
		<!-- dlpogmincnuebiaj lztdrutrcmpmbjgc -->
		<property name="password" value="dlpogmincnuebiaj"></property>
	</bean>
</beans>
